# class file
*.class

# jar ..
*.jar
*.war
*.ear

# intelliJ IDEA config file
.idea/
*.iml
out/

# maven
target/

# gradle
build/
.gradle/

# eclipse
.settings/
.project
.classpath

# jekyll tmp files
_site/
.sass-cache/
