<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName">

    <bean id="exfBeanHolder" class="net.uchoice.exf.core.util.SpringApplicationContextHolder"/>
    <!-- 插件自动化加载管理器 -->
    <bean id="pluginManager" class="net.uchoice.exf.core.loader.PluginManagerLoader"
          depends-on="exfBeanHolder"/>
    <!-- -->
    <bean id="exfConfigLoader" class="net.uchoice.exf.core.config.ResourceBasedConfig"
          init-method="init" depends-on="exfBeanHolder"/>
    <bean id="exfIdentifyLoader" class="net.uchoice.exf.core.identify.ResourceBasedIdentify"
          init-method="init" depends-on="exfBeanHolder"/>

    <import resource="classpath*:/exf/conf/*.xml"/>
</beans>